.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list__item-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #411991;
  flex-grow: 1;
  gap: 5px;
  margin: 0;
  padding: 5px;
}

.list__empty {
  user-select: none;
  color: #330b83;
  text-transform: uppercase;
  font-size: 16px;
  margin: auto auto;
}

.list__icon {
  display: block;
  flex-shrink: 0;
  width: 20px;
  color: #fff;
  fill: #fff;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px;
  border-radius: 5px;
  min-height: 37px;
  color: #fff;
  background-color: #5e35b1;
}

.list__item:hover {
  background-color: #6836cc;
}

.list__item--selected {
  background-color: #7f4ae9;
}

.list__item--selected:hover {
  background-color: #7f4ae9;
}

.list__controls {
  display: flex;
  gap: 5px;
  margin-left: auto;
}

.list__control {
  display: block;
  padding: 3px;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.list__control--remove {
  background-color: #ff04e6;
}

.list__control--remove:hover {
  background-color: #fa64ff;
}

.list__control--edit {
  background-color: #79f19a;
}

.list__control--edit:hover {
  background-color: #bcffcf;
}

.list__control--important {
  background-color: #ffd25f;
}

.list__control--important:hover {
  background-color: #fdde90;
}

.list__name {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  user-select: none;
}

.list__control-icon {
  width: 100%;
  fill: #411991;
  color: #411991;
}

.list--todo {
  width: 60%;
  gap: 5px;
  padding: 0;
  flex-shrink: 0;
}

.list--todo .list__item-wrapper {
  background-color: transparent;
  padding: 0;
}

.list--todo .list__item {
  background-color: #421c8d;
}

.list--todo .list__item--important {
  background-color: #f49883;
}
