* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 13px;

    background-image: url("./resources/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #34186f;
}